<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <Ip_Pdffree>
            <version>1.0.4</version>
        </Ip_Pdffree>
    </modules>
    <frontend>
        <routers>
            <pdffree>
                <use>standard</use>
                <args>
                    <module>Ip_Pdffree</module>
                    <frontName>pdffree</frontName>
                </args>
            </pdffree>
        </routers>       	
        <layout>
            <updates>
                <pdffree>
                    <file>ip_pdffree.xml</file>
                </pdffree>
            </updates>
        </layout>
    </frontend>   
    
    
    <global>
        <page>
            <layouts>
                <home_page translate="label">
                <label>1column-pdf</label>
                <template>ip_pdffree/page/1column-pdf.phtml</template>
                <layout_handle>1column-pdf</layout_handle>
                </home_page>
            </layouts>
        </page>        
        <models>
            <pdffree>
                <class>Ip_Pdffree_Model</class>
                <resourceModel>pdffree_mysql4</resourceModel>
            </pdffree>
        </models>
        <resources>
            <pdffree_setup>
                <setup>
                    <module>Ip_Pdffree</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </pdffree_setup>
            <pdffree_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </pdffree_write>
            <pdffree_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </pdffree_read>
        </resources>
        <blocks>
            <pdffree>
                <class>Ip_Pdffree_Block</class>
            </pdffree>
        </blocks>
        <helpers>
            <pdffree>
                <class>Ip_Pdffree_Helper</class>
            </pdffree>
        </helpers>
    </global>
    <admin>
        <routers>
            <pdffree>
                <use>admin</use>
                <args>
                    <module>Ip_Pdffree</module>
                    <frontName>pdffree</frontName>
                </args>
            </pdffree>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <pdffree>
                                            <title>pdffree</title>
                                            <sort_order>101</sort_order>
                                        </pdffree>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>    
    
    <default>
        <pdffree>
            <options>
                <css>styles.css</css>
                <enable_stream>1</enable_stream>
                <enable_save>1</enable_save>
                <enable_preview>1</enable_preview>
                <header>pdf_header</header>
                <footer>pdf_footer</footer>
            </options> 
        </pdffree>
    </default>
</config>